@import url("screen.css"); /* default gitit screen styles */
@import url("hk-pyg.css"); /* for syntax highlighting */

/*Custom styles*/

body {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-color: rgb(255,255,255);
  font-weight: 450;
  /*color: rgb(51, 51, 51);*/
  color: black;
}

p, pre, code {
    line-height: 1.388;
    margin-bottom: 1.5em;
    font-weight: 400;
}

ul {
  list-style-type: disc;
  display: block;
}

ul, ol {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: left;
}code {
  font-family: Inconsolata, Monaco, Consolas, "Courier New", monospace;
  font-size: 13px;
}

pre {
  background: #f4f8fa;
  border-left: 3px solid #5bc0de;
  margin: 20px 0;
  padding: 20px;
}

blockquote {
  margin: 0 0 20px;
  font-size: 16px;
  border-left: 5px solid #eee;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Arial", sans-serif;
  font-weight: 500;
  line-height: 39px;
  color: black;
  text-rendering: optimizelegibility;
}

h1 small,h2 small,h3 small,h4 small,h5 small,h6 small {
  font-weight: normal;
  line-height: 1;
  /*color: #dfdfdf;*/ /*grey*/
}

/*.pageTitle {
    border: none;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

h1 small {
  font-size: 24.5px;
}

h2 small {
  font-size: 17.5px;
}

h3 small {
  font-size: 14px;
}

h4 small {
  font-size: 14px;
}

table {
    margin-left: 2em;
}

.header {
    background: #dfdfdf;
    color: black;
}

.odd {
    background: #f9f9f9;
}

.even {
    background: white;
}*/

/*Tables*/

th,
td {
  padding: 8px;
  line-height: 20px;
  text-align: left;
  vertical-align: top;
  border: 1px solid #dddddd;
}

th {
  font-weight: bold;
}

tr:hover,
td:hover {
  background-color: #e8f8fd
}

#logo { overflow: hidden; 
        text-align: center;
        padding-top: 50px;


      }

img {
        border : 1px black solid ;
        display: inline;
        position: relative;
        max-width: 98%;

      }

/*Links*/

a:link { text-decoration: none; color: blue; }
a:visited { text-decoration: none; color: blue; }
a:hover { text-decoration: none; color: #c33; text-decoration: none;border-bottom:1px dashed;}
a:active,  a:focus { text-decoration: none; color: #000; }

#TOC a {color:black;}
#TOC a:hover { text-decoration: none; color: #c33; text-decoration: none;border-bottom:1px dashed;}

#userbox a {color:black;}
#userbox a:hover { text-decoration: none; color: #c33; text-decoration: none;border-bottom:1px dashed;}

#sidebar ul li a {color:black;}
#sidebar a:hover { text-decoration: none; color: #c33; text-decoration: none;border-bottom:1px dashed;}

#footer p {color: #9FB6CD;}
#footer a {color: #9FB6CD;}
#footer a:hover { text-decoration: none; color: #c33; text-decoration: 
  none;border-bottom:1px dashed;}

.index a:hover {text-decoration: none;}

h1 > a:link, h1 > a:active, h1 > a:hover, h1 > a:focus, h1 > a:visited,
h2 > a:link, h2 > a:active, h2 > a:hover, h2 > a:focus, h2 > a:visited,
h3 > a:link, h3 > a:active, h3 > a:hover, h3 > a:focus, h3 > a:visited,
h4 > a:link, h4 > a:active, h4 > a:hover, h4 > a:focus, h4 > a:visited,
h5 > a:link, h5 > a:active, h5 > a:hover, h5 > a:focus, h5 > a:visited,
h6 > a:link, h6 > a:active, h6 > a:hover, h6 > a:focus, h6 > a:visited {
        color: black; text-decoration: none; }

ul.tabs li a {color:black; padding: 3px 8px; }
ul.tabs a:hover {color:#c33; text-decoration: none; border-bottom:none;}


@media screen and (min-width: 1075px) {



  
}