@import url("reset-fonts-grids.css");
@import url("hk-pyg.css"); /* for syntax highlighting */

html { background: #f9f9f9; color: black; }
body { margin: 10px; font-family: verdana; }
fieldset { border: 1px solid #ccc; padding: 1em; }
legend { font-weight: bold; margin-left: 1em; padding: 4px; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; }
table, tr, td, th { border: none; }
hr { height: 1px; color: #aaa; background-color: #aaa; border: 0; margin: .2em 0 .2em 0; }

div.yui-t1 #yui-main .yui-b{
    margin-right: 13.30769em;
    margin-left: 0em;
}

a:link { text-decoration: underline; color: #5588aa; }
a:visited { text-decoration: underline; color: #666666; }
a:hover { text-decoration: underline; color: #aac76e; }
a:active, a:focus { text-decoration: underline; color: #000; }


h1.pageTitle { font-size: 197%; margin: 0.2em 0 .5em; }

h1 { font-size: 153.9%; margin: 1.07em 0 .535em; }
h2 { font-size: 138.5%; margin: 1.14em 0 .57em; }
h3 { font-size: 123.1%; margin: 1.23em 0 .615em; }
h4 { font-size: 116%; margin: 1.33em 0 .67em; }
h5 { font-size: 108%; margin: 1.6em 0 .8em; }
h6 { font-size: 100%; margin: 1.6em 0 .8em; }

strong { font-weight: bold; }
ul { list-style-type: square; }
dt { font-weight: bold; margin-bottom: .1em; }

optgroup{ font-weight: normal; }
abbr, acronym { border-bottom:1px dotted #000; cursor:help; }
em { font-style: italic; }
del { text-decoration: line-through; }

blockquote, ul, ol, dl { margin: 1em; }
ol, ul, dl { margin-left: 2em; }
dl dd { margin-left: 1em; }
th, td { padding: .5em; }
th { font-weight: bold; }
caption { margin-bottom: .5em; text-align: center; }
sup { vertical-align: super; }
sub { vertical-align: sub; }
sub, sup { line-height: 0.3em; }
p, fieldset, table, pre { margin-bottom: 1em; }
button, input[type="checkbox"], input[type="radio"], input[type="reset"], input[type="submit"] { padding: 1px; }
blockquote { padding: 0 1.6em; color: #666; }

input.search_term { width: 95% }

button:hover, a.button:hover { background-color:#dff4ff; border:1px solid #c2e1ef; color:#336699; }
a.button:active, button:active { background-color:#6299c5; border:1px solid #6299c5; color:#fff; }

h1 > a:link, h1 > a:active, h1 > a:hover, h1 > a:focus, h1 > a:visited,
h2 > a:link, h2 > a:active, h2 > a:hover, h2 > a:focus, h2 > a:visited,
h3 > a:link, h3 > a:active, h3 > a:hover, h3 > a:focus, h3 > a:visited,
h4 > a:link, h4 > a:active, h4 > a:hover, h4 > a:focus, h4 > a:visited,
h5 > a:link, h5 > a:active, h5 > a:hover, h5 > a:focus, h5 > a:visited,
h6 > a:link, h6 > a:active, h6 > a:hover, h6 > a:focus, h6 > a:visited {
        color: black; text-decoration: none; }

textarea, input[type='text'], input[type='password'] { border: 1px solid #ccc; border-radius: 2px; background: #fff; padding: 2px; }
textarea:hover, input[type='text']:hover, input[type='password']:hover { border-color: #aaa; }
textarea:focus, input[type='text']:focus, input[type='password']:focus { border-color: #888; outline: 2px solid #aac76e; }
input[type='submit'], input[type='button'] { background-color: #eee; color: #333; border: 1px solid #C8C8C8; border-radius: 2px; padding: 6px 10px 6px 10px; margin: 4px 0; cursor: pointer; transition: border .20s; }
input[type='submit']:hover, input[type='button']:hover { border: 1px solid #909090; color: #111; box-shadow: 0 1px 5px #ccc; background: -webkit-linear-gradient(top, #f8f8f8, #e8e8e8); background: -moz-linear-gradient(top, #f8f8f8, #e8e8e8); background: -ms-linear-gradient(top, #f8f8f8, #e8e8e8); background: -o-linear-gradient(top, #f8f8f8, #e8e8e8); }

div#TOC { background-color: #f9f9f9; border: 10px solid white; margin: 0.8em; margin-right: 0; padding: 0.4em; }
#TOC ul { padding: 0 0 0 1em; margin: 0; list-style: none; }
div#categoryList { padding: 0em; margin: 1em 0 0 0; border: 1px dashed #ccc; }
#categoryList ul > li { display: inline; padding-right: 1em; }

.search_result { margin-bottom: 15px; }
.search_result .match { margin-bottom: 15px; }


code, pre {
  background: #EEE;
  border: 1px solid #DDD;
  color: #555;
  font: 90% monaco, "Courier New", monospace;
}

pre {
  border-radius: 3px;
  overflow-Y: hidden;
  overflow: auto;
  padding: .8em 1.2em;
}

pre code {
  background: transparent;
  border: none;
  font-size: 90%;
}

/*pre.matches { margin: 0; padding: 0; }*/
/*#pattern { background-color: yellow; font-weight: bold; }*/
/*pre.matches span.highlighted { background-color: yellow; }*/

.added { background-color: yellow; }
.deleted { text-decoration: line-through; color: gray; }

.req { display: none; }

ul.messages > li { color: red; list-style: square; font-weight: bold; }

.index ul { list-style: none; margin: 0; padding: 0; }
.index li { list-style: none; background-position: 0 1px; background-repeat: no-repeat; padding-left: 20px; }
.index li.page { background-image: url(../img/icons/page.png); }
.index li.folder { background-image: url(../img/icons/folder.png); }
.index a { color: #000000; cursor: pointer; text-decoration: none; }
.index a:hover { text-decoration: underline; }

a.updir { font-weight: bold; }

h2.revision { font-size: 100%; color: #888; font-style: italic; border: none; margin: 0 0 0.5em 0; padding: 0; }

div.markupHelp pre { font-size: 77%; overflow: auto; }

/* Style the footnotes; from gwern.net */
#footnotediv div { background-color: white; padding: 3px; padding: 12px; max-width: 800px; border: 1px solid #CDBBB5; box-shadow: #555 0 0 10px; -webkit-box-shadow: #555 0 0 10px; -moz-box-shadow: 0 0 10px #555; }
/* Deal with multiple footnotes one after another; Charuru */
sup + sup { margin-left: 2px; }

#userbox  { text-align: right; font-weight: bold; margin: 1em; }
#logo { overflow: hidden; }
#sidebar {
    padding-top: 24px;
    position: absolute;
    right: 0px;
}
#footer { padding: 1em; color: #888; text-align: center; font-size: 93%; }

#content { border: 1px solid #ccc; background-color: #fff; padding: 1em; border-radius: 2px; box-shadow: 0 0 5px #ccc; }
#content p, #content pre, #content li { line-height: 140%; }

#sidebar fieldset { background-color: none; border: none; margin-bottom: 1em; padding: 0; }
#sidebar fieldset { font-weight: normal; }
#sidebar fieldset legend { font-weight: normal; font-size: 150%; margin-left: 0; }

#sidebar ul { padding: 0; margin: 0; margin-left: .5em; line-height: 1.5em; }
#sidebar ul li { color: #888; list-style: none; }
#sidebar ul li a {}

#sidebar input, #sidebar select {}
#searchform, #goform, #exportbox { padding: 0; margin: .5em 1em .5em .5em; }
#searchform input[type='text'], #goform input[type='text'] { width: 100%; }

#goform { display: none; }

#exportbox select { width: 100%; }
#exportbox input { position: relative; left: -.5em; }

#loginForm label, #loginForm input { display: block }
#loginForm fieldset { border: 0; padding: 0; }

#editform textarea { height: 25em; width: 98%; font-family: monospace; font-size: 93%; }
#editform #logMsg { width: 98%; margin-right: 1em; margin-bottom: 0.3em; }

ul.tabs { padding: 0; margin: 1em; }
ul.tabs li { display: inline; margin: 0 0; }
ul.tabs li.selected { }
ul.tabs li.selected a { color:white; background-color: #888; box-shadow: 0 1px 9px
rgba(0, 0, 0, 0.52) inset; border-radius: 16px; font-weight: bold; }
ul.tabs li a { text-decoration: none; padding: 3px 8px;  }
